html, body {
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
}

ul:not(.item-list) {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul:not(.item-list) li {
    display: inline;
    margin: 0 1em 0 0;
}

a {
    cursor: pointer;
}

.delete {
    color: red;
}